.form__input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.form__input-group input,
.form__input-group textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid hsl(270, 50%, 40%);
  border-radius: 1%;
} 

.form__input-group label {
  margin: 0 0 .5rem;
}

.btn {
  padding: 0.4rem 1rem;
  border: 1px solid hsl(270, 50%, 40%);
  background-color: white;
  color: rebeccapurple;
  border-radius: 4%;
  font-size: 1rem;
}

.btn:hover {
  padding: 0.4rem 1rem;
  transition: all .4s;
  border: 1px solid white;
  background-color: rebeccapurple;
  color: white;
}